<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OutputPath" value="C:\_GHPReport" />
    <add key="TakeScreenshotAfterFail" value="True" />
    <add key="Sprint" value="" />
    <add key="RunName" value="" />
    <add key="RunGuid" value="" />
    <add key="RealTimeGeneration" value="True" />
  </appSettings>
</configuration>